<div scroll>
<div c fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1px">
  <div i fxFlex="100%" fxFlexAlign="end">
    <div>X</div>
  </div>
  <div i fxFlex="100%">
    <div>Watson Enhanced Evidence Visualization</div>
    <div>Evidence Ranking Key</div>
  </div>
  <div i fxFlex="100%">
    <div c fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1px">
      <div i fxFlex="30%">
        <div>Info Pane</div>
        <app-text></app-text>
      </div>
      <div i fxFlex="70%">
        <div c fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1px">
          <div i fxFlex="100%" fxFlexAlign="end">
            <div c fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
              <div i fxFlex="100%">
                <div>+</div>
              </div>
              <div i fxFlex="100%">
                <div>-</div>
              </div>
            </div>
          </div>
          <div i fxFlex="100%">
            <div>Graph View</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>